{% extends "blog/layout.html" %}

{% block content %}


<form action="" method="get">
    <input type="text" name="q" value="{{ q }}" />
    <input type="submit" value="검색" />
</form>


<ul>
    {% for post in post_list %}
        <li>
            {{ post.id }}
            <a href="{% url "post_detail" post.id %}">
                {{ post.title }}
            </a>
            <small>by {{ post.author }}</small>
            <small>at {{ post.updated_at }}</small>
        </li>
    {% endfor %}
</ul>

<ul>
    <li>http://localhost:8000/blog/</li>
    <li>어쩌고저쩌고으어ㅏ얼ㄴ래ㅣ날내ㅣ라</li>
</ul>
{% endblock %}